body {
  font-family: sans-serif;
}

img {
  width:50%;
  float: left;
}

#lock-modal {
  display: none;
  background-color: black;
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  color: white;
  border-radius: inherit;
  justify-content: center;
  align-items: center;
  font-size: x-large;
}

#loading-circle {
  display: none;
  position: absolute;
  top: 5em;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 40px;
  height: 40px;
  border: 4px solid #f3f3f3;
  border-top: 4px solid #3498db;
  border-radius: 50%;
  animation: spin 0.6s ease-in infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
