<!DOCTYPE html>
<html lang="en">

  <head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-56611154-4"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-56611154-4');
    </script>

    <meta charset="utf-8">
    <title>Toonify Yourself</title>
    <meta name="description" content="Upload a photo of yourself and see what you would look like as a character in CG animated movie.">
    <meta name="author" content="Justin Pinkney">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- social card stuff  -->
    <meta property="og:url"                content="https://toonify.justinpinkney.com" />
    <meta property="og:type"               content="website" />
    <meta property="og:title"              content="Toonify Yourself" />
    <meta property="og:description"        content="Upload a photo of yourself and see what you would look like as a character in CG animated movie." />
    <meta property="og:locale"             content="en_US" />
    <meta property="og:image"              content="" />
    <meta property="twitter:creator"       content="@Buntworthy" />
    <meta property="twitter:title"         content="Toonify Yourself" />
    <meta property="twitter:description"   content="Upload a photo of yourself and see what you would look like as a character in CG animated movie." />
    <meta property="twitter:card"          content="summary_large_image" />
    <!--  -->
    <link rel="stylesheet" href="/static/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bs-custom-file-input/dist/bs-custom-file-input.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/5.3.0/ekko-lightbox.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    <script src="/static/script.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  </head>

 <body>
  <header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="#toonify">Toonify Yourself</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link" href="#examples">Examples</a>
          <a class="nav-link" href="#faq">FAQ</a>
          <a class="nav-link" href="#about">About</a>
        </div>
      </div>
    </nav>
  </header>

  <div class="container">
    <div class="header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
      <h1 id="toonify" class="display-4">Toonify Yourself</h1>
      <p class="lead">Upload a photo and see what you'd look like in a animated movie!</p>
    </div>

    <form action="{{ url_for('upload_image') }}" method="POST" enctype="multipart/form-data" id="my-form" >
      <div class="form-group">
        <div class="custom-file">
          <input type="file" class="custom-file-input" id="customFile" name="image">
          <label class="custom-file-label" for="customFile">Upload a photo</label>
        </div>
      </div>
      <button type="submit" class="btn btn-primary">Toonify!</button>

      <div id="lock-modal">Running Toonification...</div>
      <div id="loading-circle"></div>
    </form>

    {% if status is defined and status == "success" %}
    <div class="row mt-5">
      <div class="col"><img src="{{images[0]}}" class="img-fluid" /></div>
      <div class="col"><img src="{{images[1]}}" class="img-fluid" /></div>
    </div>
    {% endif %}

  </div>

  {% if status is defined and status == "fail" %}
  <div class="container">
    <div class="alert alert-warning" role="alert">
      <p>Failed: {{ message }}</p>
    </div>
  </div>
  {% endif %}

  {% if message is defined and message != "" %}
  <div class="container">
    <div class="alert alert-info" role="alert">
      <p>FYI: {{ message }}</p>
    </div>
  </div>
  {% endif %}

  <div class="container">
    <h1 id="examples" class="mt-5">Examples</h1>

    <div class="row justify-content-center">
      <div class="col">
        <div class="row">
          <a href="static/images/trek_01.jpg" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-4">
            <img src="static/images/thumbs/trek_01.jpg" class="img-fluid">
          </a>
          <a href="static/images/105755683-1550853148548gettyimages-109478107_01.jpg" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-4">
            <img src="static/images/thumbs/105755683-1550853148548gettyimages-109478107_01.jpg" class="img-fluid">
          </a>
          <a href="static/images/7.-Leonardo-DiCaprio_01.jpg" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-4">
            <img src="static/images/thumbs/7.-Leonardo-DiCaprio_01.jpg" class="img-fluid">
          </a>
        </div>
        <div class="row">
          <a href="static/images/allen_01.jpg" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-4">
            <img src="static/images/thumbs/allen_01.jpg" class="img-fluid">
          </a>
          <a href="static/images/blackactors-02_01.jpg" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-4">
            <img src="static/images/thumbs/blackactors-02_01.jpg" class="img-fluid">
          </a>
          <a href="static/images/will_smith_01.jpg" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-4">
            <img src="static/images/thumbs/will_smith_01.jpg" class="img-fluid">
          </a>
        </div>
        <div  class="collapse" id="moreExamples">
          <div class="row">
            <a href="static/images/emma-stone-anxiety_01.jpg" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-4">
              <img src="static/images/thumbs/emma-stone-anxiety_01.jpg" class="img-fluid">
            </a>
            <a href="static/images/hollywoods-top-10-highest-paid-actresses-in-2018_k8qw_01.jpg" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-4">
              <img src="static/images/thumbs/hollywoods-top-10-highest-paid-actresses-in-2018_k8qw_01.jpg" class="img-fluid">
            </a>
            <a href="static/images/image_03.jpg" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-4">
              <img src="static/images/thumbs/image_03.jpg" class="img-fluid">
            </a>
          </div>
          <div class="row">
            <a href="static/images/janeway_01.jpg" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-4">
              <img src="static/images/thumbs/janeway_01.jpg" class="img-fluid">
            </a>
            <a href="static/images/Johnny-Depp-1024x1024_01.jpg" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-4">
              <img src="static/images/thumbs/Johnny-Depp-1024x1024_01.jpg" class="img-fluid">
            </a>
            <a href="static/images/ken-watanabe_01.jpg" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-4">
              <img src="static/images/thumbs/ken-watanabe_01.jpg" class="img-fluid">
            </a>
          </div>
          <div class="row">
            <a href="static/images/KHI-008374-keanu-reeves-400x600_01.jpg" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-4">
              <img src="static/images/thumbs/KHI-008374-keanu-reeves-400x600_01.jpg" class="img-fluid">
            </a>
            <a href="static/images/monkwithbook.jpg" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-4">
              <img src="static/images/thumbs/monkwithbook.jpg" class="img-fluid">
            </a>
            <a href="static/images/V1__01.jpg" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-4">
              <img src="static/images/thumbs/V1__01.jpg" class="img-fluid">
            </a>
          </div>
          <div class="row">
            <a href="static/images/0_Chadwick-Boseman_01.jpg" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-4">
              <img src="static/images/thumbs/0_Chadwick-Boseman_01.jpg" class="img-fluid">
            </a>
            <a href="static/images/unnamed_01.jpg" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-4">
              <img src="static/images/thumbs/unnamed_01.jpg" class="img-fluid">
            </a>
            <a href="static/images/ryan-gosling_01.jpg" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-4">
              <img src="static/images/thumbs/ryan-gosling_01.jpg" class="img-fluid">
            </a>
          </div>
          <div class="row">
          <a href="static/images/vllkyt5r43p1p4tk7_01.jpg" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-4">
            <img src="static/images/thumbs/vllkyt5r43p1p4tk7_01.jpg" class="img-fluid">
          </a>
          <a href="static/images/yeoh_01.jpg" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-4">
            <img src="static/images/thumbs/yeoh_01.jpg" class="img-fluid">
          </a>
          <a href="static/images/deniro_01.jpg" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-4">
            <img src="static/images/thumbs/deniro_01.jpg" class="img-fluid">
          </a>
          </div>
        </div>
        <div class="row">
        <button class="btn btn-primary mx-auto mt-2" type="button" data-toggle="collapse" data-target="#moreExamples" aria-expanded="false" aria-controls="moreExamples">
          More examples
        </button>
        </div>
      </div>
    </div>

  <div class="container">
    <h1 id="faq" class="mt-5">Frequently Asked Questions</h1>
    <ul class="mt-5">
      <li>
        <h4>How does this work?</h4>
        <p>This toonification system is made using deep learning. It's based on distillation of a blended StyleGAN models into a pix2pixHD image to image translation network.</p>
        <p>If none of that made any sense take a look at <a href="https://www.justinpinkney.com/toonify-yourself/">this blog post on self toonification</a> which explains some of the details.</p>
        <p>More technical details will follow soon.</p>
      </li>
      <li>
        <h4>How do I get good results?</h4>
        <p>The algorithm works best with high resolution images without much noise. Looking straight on to the camera also seem to work best. Something like a corporate headshot tends to work well.</p>
      </li>
      <li>
        <h4>Do you store my photo?</h4>
        <p>We don't store any of the images uploaded or generated. Once the toonification has finished running no images are kept on our systems.</p>
      </li>
      <li>
        <h4>My face wasn't found!</h4>
        <p>We use the open source dlib face detector to find faces, it's designed to pick up frontal faces but isn't perfect.</p>
      </li>
      <li>
        <h4>Where did my glasses go?</h4>
        <p>Not many characters from animated films where glasses so the model seems to have learnt to mostly remove them</p>
      </li>
    </ul>

  </div>

  <div class="container">
    <h1 id="about" class="mt-5">About</h1>
    <p>This website was created by <a href="https://www.justinpinkney.com">Justin Pinkney</a> and <a href="https://linktr.ee/Norod78">Doron Adler</a>. It uses deep learning to toonify images of faces. More details coming soon...</p>
    <p>If you want to get in touch try us on Twitter: <a href="https://twitter.com/Buntworthy">@Buntworthy</a> and <a href="https://twitter.com/Norod78">@Norod78</a>.</p>
  </div>

  <script>
    $(document).on('click', '[data-toggle="lightbox"]', function(event) {
        event.preventDefault();
        $(this).ekkoLightbox();
    });
  </script>

  </body>
</html>